@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000032}}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000033}}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000034}}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li {
  margin-top: 0;
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000035}}
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000036}}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000037}}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000038}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\000039}}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000310}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000311}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000312}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000313}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000314}}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000316}}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000317}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000318}}
td {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000319}}
td, th {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_reset\.scss}line{font-family:\0000320}}
blockquote, blockquote p {
  font-style: italic;
}

/* 12 columns grid system
==================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\000034}}
.gridContainer_12 {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\000038}}
.gridContainer_12 > [class*="grid_"] {
  margin-bottom: 1em;
}
@media (min-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\000038}}
  .gridContainer_12 > [class*="grid_"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-right: 2%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000317}}
  .gridContainer_12 > [class*="grid_"]:last-child {
    margin-right: 0;
  }
}

@media (min-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000325}}
  .gridRow {
    margin-bottom: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000328}}
  .gridRow:last-child {
    margin-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000334}}
  .gridContainer_12 .grid_1 {
    width: 6.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000335}}
  .gridContainer_12 .grid_2 {
    width: 15%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000336}}
  .gridContainer_12 .grid_3 {
    width: 23.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000337}}
  .gridContainer_12 .grid_4 {
    width: 32%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000338}}
  .gridContainer_12 .grid_5 {
    width: 40.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000339}}
  .gridContainer_12 .grid_6 {
    width: 49%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000340}}
  .gridContainer_12 .grid_7 {
    width: 57.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000341}}
  .gridContainer_12 .grid_8 {
    width: 66%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000342}}
  .gridContainer_12 .grid_9 {
    width: 74.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000343}}
  .gridContainer_12 .grid_10 {
    width: 83%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000344}}
  .gridContainer_12 .grid_11 {
    width: 91.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000347}}
  .gridContainer_12 .grid_prefix_1 {
    margin-left: 8.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000348}}
  .gridContainer_12 .grid_prefix_2 {
    margin-left: 17%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000349}}
  .gridContainer_12 .grid_prefix_3 {
    margin-left: 25.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000350}}
  .gridContainer_12 .grid_prefix_4 {
    margin-left: 34%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000351}}
  .gridContainer_12 .grid_prefix_5 {
    margin-left: 42.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000352}}
  .gridContainer_12 .grid_prefix_6 {
    margin-left: 51%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000353}}
  .gridContainer_12 .grid_prefix_7 {
    margin-left: 59.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000354}}
  .gridContainer_12 .grid_prefix_8 {
    margin-left: 68%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000355}}
  .gridContainer_12 .grid_prefix_9 {
    margin-left: 76.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000356}}
  .gridContainer_12 .grid_prefix_10 {
    margin-left: 85%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000357}}
  .gridContainer_12 .grid_prefix_11 {
    margin-left: 93.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000360}}
  .gridContainer_12 .grid_suffix_1 {
    margin-right: 10.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000361}}
  .gridContainer_12 .grid_suffix_2 {
    margin-right: 19%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000362}}
  .gridContainer_12 .grid_suffix_3 {
    margin-right: 27.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000363}}
  .gridContainer_12 .grid_suffix_4 {
    margin-right: 36%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000364}}
  .gridContainer_12 .grid_suffix_5 {
    margin-right: 44.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000365}}
  .gridContainer_12 .grid_suffix_6 {
    margin-right: 53%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000366}}
  .gridContainer_12 .grid_suffix_7 {
    margin-right: 61.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000367}}
  .gridContainer_12 .grid_suffix_8 {
    margin-right: 70%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000368}}
  .gridContainer_12 .grid_suffix_9 {
    margin-right: 78.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000369}}
  .gridContainer_12 .grid_suffix_10 {
    margin-right: 87%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000370}}
  .gridContainer_12 .grid_suffix_11 {
    margin-right: 95.5%;
  }

  /* split text up in CSS columns
  ==================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000379}}
  .colSplit2,
  .colSplit3,
  .colSplit4,
  .colSplit5,
  .colSplit6 {
    -moz-column-gap: 2%;
    -webkit-column-gap: 2%;
    column-gap: 2%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000383}}
  .colSplit2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000384}}
  .colSplit3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000385}}
  .colSplit4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000386}}
  .colSplit5 {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/_grid\.scss}line{font-family:\0000387}}
  .colSplit6 {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
  }
}
/* Common
==================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\000036}}
body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 25px;
  color: #132133;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000316}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Tinos", serif;
  line-height: normal;
  font-weight: 700;
  font-style: italic;
  color: #33270e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000324}}
h2, h3, h4, h5, h6 {
  margin-top: 3em;
  margin-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000330}}
h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, li:last-child, dd:last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000335}}
h1 {
  font-size: 2em;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000340}}
h2 {
  font-size: 1.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000344}}
h1 + h2 {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000348}}
h3 {
  font-size: 1.50em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000352}}
h4, h5, h6 {
  font-size: 1.25em;
  color: #33270e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000357}}
p, li, dt, dd {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000361}}
ul, ol {
  padding-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000365}}
a {
  color: #132133;
}

/* Wrappers
==================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000374}}
#header .inner,
#main,
#footer .inner {
  width: auto;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  padding: .5em 0;
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000374}}
  #header .inner,
  #main,
  #footer .inner {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000389}}
#footer .inner {
  margin-bottom: 0;
}

/* Header
==================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000396}}
#header {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\0000399}}
#header h1 {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\00003105}}
#header,
#footer {
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\00003109}}
#main {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2em;
  padding-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/WebServer\/vhosts\/dennisburger\.local\.lucius\.nl\/httpdocs\/sass\/style\.scss}line{font-family:\00003116}}
.block {
  background-color: pink;
  min-height: 100px;
}
