// SASS configuration

// ---------------------------------------------
// Fonts-family
// ---------------------------------------------

$font-default-headings: Georgia, serif;
$font-default-body: Arial, sans-serif;

$font-custom-headings: 'Tinos', sans-serif;
$font-custom-body: Georgia, serif;

// ---------------------------------------------
// Font-size
// ---------------------------------------------

$font-default-size: 100%;
$font-default-line-height: 1.5em;

// ---------------------------------------------
// Colors
// ---------------------------------------------

$color-primary: #666;
$color-secondary: #ff5200;
$color-supplementary: #f99;
$color-complementary: $color-secondary;

$color-heading-text: #00aeef;
$color-body-text: $color-primary;

// ---------------------------------------------
// MediaQuery breakpoints
// ---------------------------------------------

$mq-breakpoint-01: 321px;
$mq-breakpoint-02: 500px;
$mq-breakpoint-03: 781px;
$mq-breakpoint-04: 1025px;

// ---------------------------------------------
// Vars
// ---------------------------------------------

$font-dir: '../fonts/';
$site-max-width: 600px;

// ---------------------------------------------
// Grid units
// ---------------------------------------------

$grid-site-width: 100%;
$grid-column-count: 12;
$grid-gutter-width: 2%;
$grid-column-width: ($grid-site-width - ($grid-column-count - 1) * $grid-gutter-width) / $grid-column-count;

// ---------------------------------------------
// Importing other files
// ---------------------------------------------

@import '_functions.scss';
@import '_mixins.scss';
@import '_reset.scss';
@import '_grid.scss';