/* 12 columns grid system
==================================== */

.gridContainer_12 {
	overflow: hidden;
}

.gridContainer_12 > [class*="grid_"] {
	margin-bottom: 1em;

	@media (min-width: $mq-breakpoint-02) {
		@include box-sizing;
		margin-bottom: 0;
		margin-right: $grid-gutter-width;
		float: left;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media (min-width: $mq-breakpoint-02) {
	// row
	.gridRow { 
		margin-bottom: 1em; 

		&:last-child {
			margin-bottom: 0;
		}
	}

	// column width's
	.gridContainer_12 .grid_1  { width: calc-grid-block-width(1); 	   }
	.gridContainer_12 .grid_2  { width: calc-grid-block-width(2, 1);   }
	.gridContainer_12 .grid_3  { width: calc-grid-block-width(3, 2);   }
	.gridContainer_12 .grid_4  { width: calc-grid-block-width(4, 3);   }
	.gridContainer_12 .grid_5  { width: calc-grid-block-width(5, 4);   }
	.gridContainer_12 .grid_6  { width: calc-grid-block-width(6, 5);   }
	.gridContainer_12 .grid_7  { width: calc-grid-block-width(7, 6);   }
	.gridContainer_12 .grid_8  { width: calc-grid-block-width(8, 7);   }
	.gridContainer_12 .grid_9  { width: calc-grid-block-width(9, 8);   }
	.gridContainer_12 .grid_10 { width: calc-grid-block-width(10, 9);  }
	.gridContainer_12 .grid_11 { width: calc-grid-block-width(11, 10); }

	// prefixing, shift block to the right
	.gridContainer_12 .grid_prefix_1  { margin-left: calc-grid-block-width(1, 1);   }
	.gridContainer_12 .grid_prefix_2  { margin-left: calc-grid-block-width(2, 2);   }
	.gridContainer_12 .grid_prefix_3  { margin-left: calc-grid-block-width(3, 3);   }
	.gridContainer_12 .grid_prefix_4  { margin-left: calc-grid-block-width(4, 4);   }
	.gridContainer_12 .grid_prefix_5  { margin-left: calc-grid-block-width(5, 5);   }
	.gridContainer_12 .grid_prefix_6  { margin-left: calc-grid-block-width(6, 6);   }
	.gridContainer_12 .grid_prefix_7  { margin-left: calc-grid-block-width(7, 7);   }
	.gridContainer_12 .grid_prefix_8  { margin-left: calc-grid-block-width(8, 8);   }
	.gridContainer_12 .grid_prefix_9  { margin-left: calc-grid-block-width(9, 9);  	}
	.gridContainer_12 .grid_prefix_10 { margin-left: calc-grid-block-width(10, 10); }
	.gridContainer_12 .grid_prefix_11 { margin-left: calc-grid-block-width(11, 11); }

	// suffixing, shift sibling blocks to the right
	.gridContainer_12 .grid_suffix_1  { margin-right: calc-grid-block-width(1, 2);   }
	.gridContainer_12 .grid_suffix_2  { margin-right: calc-grid-block-width(2, 3);   }
	.gridContainer_12 .grid_suffix_3  { margin-right: calc-grid-block-width(3, 4);   }
	.gridContainer_12 .grid_suffix_4  { margin-right: calc-grid-block-width(4, 5);   }
	.gridContainer_12 .grid_suffix_5  { margin-right: calc-grid-block-width(5, 6);   }
	.gridContainer_12 .grid_suffix_6  { margin-right: calc-grid-block-width(6, 7);   }
	.gridContainer_12 .grid_suffix_7  { margin-right: calc-grid-block-width(7, 8);   }
	.gridContainer_12 .grid_suffix_8  { margin-right: calc-grid-block-width(8, 9);   }
	.gridContainer_12 .grid_suffix_9  { margin-right: calc-grid-block-width(9, 10);  }
	.gridContainer_12 .grid_suffix_10 { margin-right: calc-grid-block-width(10, 11); }
	.gridContainer_12 .grid_suffix_11 { margin-right: calc-grid-block-width(11, 12); }

	/* split text up in CSS columns
	==================================== */

	.colSplit2,
	.colSplit3,
	.colSplit4,
	.colSplit5,
	.colSplit6 {
		@include column-gap($grid-gutter-width);
	}

	.colSplit2 { @include column-count(2); }
	.colSplit3 { @include column-count(3); }
	.colSplit4 { @include column-count(4); }
	.colSplit5 { @include column-count(5); }
	.colSplit6 { @include column-count(6); }
}