// SASS Poort80 mixins

// ---------------------------------------------
// Reset margins and padding
// ---------------------------------------------

@mixin reset() {
	margin: 0;
	padding: 0;
}

// ---------------------------------------------
// Border-radius
// ---------------------------------------------

@mixin border-radius($top-left: 0px, $top-right: 0px, $bottom-right: 0px, $bottom-left: 0px) {
	-moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
	-webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -o-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
	border-radius: $top-left $top-right $bottom-right $bottom-left;
	
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

	// Using Modernizr for Win/IE 8 and lower
	.lte8 & {
		zoom: 1;
		border-radius: $top-left $top-right $bottom-right $bottom-left;
		behavior: url(/htc/PIE.htc);
	}
}

// ---------------------------------------------
// Box-shadow
// ---------------------------------------------

@mixin box-shadow($x: 0, $y: 5px, $spread: 5px, $color: rgba(0,0,0,0.3), $inset:"") {
	-moz-box-shadow: #{$inset} $x $y $spread $color;
	-webkit-box-shadow: #{$inset} $x $y $spread $color;
	box-shadow: #{$inset} $x $y $spread $color;
}

// ---------------------------------------------
// Opacity
// ---------------------------------------------

@mixin opacity($opacity: 1) {
	opacity: $opacity;

	// Using Modernizr for Win/IE 8 and lower
	.lte8 & {
		filter: alpha(opacity=#{$opacity*100});
	}	
}

// ---------------------------------------------
// Gradients
// ---------------------------------------------

@mixin bg-linear-gradient($color1: #ccc, $color2: #000) {
	background-color: $color2;
	background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image:    -moz-linear-gradient(top, $color1, $color2);
	background-image:      -o-linear-gradient(top, $color1, $color2);
	background-image:         linear-gradient(to bottom, $color1, $color2);

	.lte9 & {
		zoom: 1;
		-pie-background: linear-gradient($color1, $color2);
		behavior: url(/htc/PIE.htc);
	}
}

// ---------------------------------------------
// Box-sizing
// ---------------------------------------------

// use: 'content-box' or 'border-box'
@mixin box-sizing($method: border-box) {
	-moz-box-sizing: $method;
	-webkit-box-sizing: $method;
	box-sizing: $method;

	// Using Modernizr for Win/IE7 and lower
	.lte7 & {
		box-sizing: $method;
		behavior: url(/htc/boxsizing.htc);
	}
}

// ---------------------------------------------
// Rotation
// ---------------------------------------------

@mixin rotate($deg: 0) {
	-webkit-transform: rotate(#{$deg}deg); 	// Safari 3.1+, Chrome 
	-moz-transform: rotate(#{$deg}deg);  	// Firefox 3.5-15 
	-ms-transform: rotate(#{$deg}deg);  	// IE9+ 
	-o-transform: rotate(#{$deg}deg);  	 	// Opera 10.5-12.00 
	transform: rotate(#{$deg}deg);  		// Firefox 16+, Opera 12.50+
}

// ---------------------------------------------
// Columns
// ---------------------------------------------

@mixin column-count($columns) {
	-webkit-column-count: $columns;
	-moz-column-count: $columns;
	-ms-column-count: $columns;
	-o-column-count: $columns;
	column-count: $columns;
}

@mixin column-gap($width: 15px) {
	-webkit-column-gap: $width;
	-moz-column-gap: $width;
	-ms-column-gap: $width;
	-o-column-gap: $width;
	column-gap: $width;
}

@mixin column-span($span: all) {
	-webkit-column-span: $span;
	-moz-column-span: $span;
	-ms-column-span: $span;
	-o-column-span: $span;
	column-span: $span;
}

// ---------------------------------------------
// @font-face
// ---------------------------------------------

@mixin font-face($font-name, $font-file) {
	@font-face {
	    font-family: '#{$font-name}';
	    src: url('#{$font-dir}#{$font-file}.eot');
	    src: url('#{$font-dir}#{$font-file}.eot?#iefix') format('embedded-opentype'),
	         url('#{$font-dir}#{$font-file}.woff') format('woff'),
	         url('#{$font-dir}#{$font-file}.ttf') format('truetype'),
	         url('#{$font-dir}#{$font-file}.svg##{$font-name}') format('svg');
	    font-weight: normal;
	    font-style: normal;	       
	}
}

// ---------------------------------------------
// Vendor prefixes
// ---------------------------------------------

$vendor-prefixes: ("-webkit-","-moz-", "-o-", "-ms-", "");
@mixin prefix($property, $value) { 
	@each $prefix in $vendor-prefixes {
		#{$prefix}#{$property}: #{$value};
	}
}

// ---------------------------------------------
// Clearing method without using overflow:hidden;
// ---------------------------------------------

@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
    }

	&:after {
		clear: both;
	}

	// Win/IE 8 and lower
	.lte8 & {
		zoom: 1;
	}
}

// ---------------------------------------------
// Setting :hover :active :focus
// ---------------------------------------------

@mixin hoverActiveFocus($property, $value) {
	&:hover, &:active, &:focus {
		#{$property}: $value;
	}
}

// ---------------------------------------------
// Flexbox
// ---------------------------------------------

@mixin display-box {
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}

@mixin box-orient($direction: vertical) {
	-moz-box-orient: $direction;
	-webkit-box-orient: $direction;	
	-ms-box-orient: $direction;	
	-o-box-orient: $direction;	
	box-orient: $direction;
}

@mixin box-order-group($int) {
	-moz-box-ordinal-group: $int;
	-webkit-box-ordinal-group: $int;
	-ms-box-ordinal-group: $int;
	-o-box-ordinal-group: $int;
	box-ordinal-group: $int;
}

// ---------------------------------------------
// Background adaptive images (Modernizr)
// ---------------------------------------------

@mixin background-adaptive($file) {
	.no-svg & {
		background-image: url($file + '.png');
	}
	.svg & {
      	background-image: url($file + '.svg');
  	}

  	// Target higher density screens
  	// By using a ratio of 1.5 instead of 2, 
  	// you can target other non-Apple devices with the same query.
  	@media (-webkit-min-device-pixel-ratio: 1.5), 
  		   (-moz-min-device-pixel-ratio: 1.5), 
  		   (-o-min-device-pixel-ratio: 3/2),
  		   (min-device-pixel-ratio: 1.5) {

	  	.no-svg & {
			background-image: url($file + '@2x.png');
			background-size: 100% 100%;
		}

		.svg & {
	      	background-image: url($file + '.svg');
	  	}
  	}
}