// SASS Poort80 mixins

// ---------------------------------------------
// Reset margins and padding
// ---------------------------------------------

@mixin reset() {
	margin: 0;
	padding: 0;
}

// ---------------------------------------------
// Border-radius
// ---------------------------------------------

@mixin border-radius($radius: 5px) {
	@include prefix-selector(border-radius, $radius);
	@include prefix-selector(background-clip, padding);

	// Using Modernizr for Win/IE 8 and lower
	.lte8 & {
		zoom: 1;
		border-radius: $radius;
		behavior: url(/themes/base/htc/PIE.htc);
	}
}

// ---------------------------------------------
// Box-shadow
// ---------------------------------------------

@mixin box-shadow($shadow: 0 5px 5px rgba(0,0,0,0.3)) {
	@include prefix-selector(box-shadow, $shadow);
}

// ---------------------------------------------
// Opacity
// ---------------------------------------------

@mixin opacity($opacity: 1) {
	opacity: $opacity;

	// Using Modernizr for Win/IE 8 and lower
	.lte8 & {
		filter: alpha(opacity=#{$opacity*100});
	}	
}

// ---------------------------------------------
// Gradients
// ---------------------------------------------

@mixin bg-linear-gradient($color1: #ccc, $color2: #000) {
	background-color: $color2;
	background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image:    -moz-linear-gradient(top, $color1, $color2);
	background-image:      -o-linear-gradient(top, $color1, $color2);
	background-image:         linear-gradient(to bottom, $color1, $color2);

	.lte9 & {
		zoom: 1;
		-pie-background: linear-gradient($color1, $color2);
		behavior: url(/themes/base/htc/PIE.htc);
	}
}

// ---------------------------------------------
// Box-sizing
// ---------------------------------------------

// use: 'content-box' or 'border-box'
@mixin box-sizing($method: border-box) {
	@include prefix-selector(box-sizing, $method);

	// Using Modernizr for Win/IE7 and lower
	.lte7 & {
		box-sizing: $method;
		behavior: url(/themes/base/htc/boxsizing.htc);
	}
}

// ---------------------------------------------
// Rotation
// ---------------------------------------------

@mixin rotate($deg: 0) {
	@include prefix-selector(transform, rotate(#{$deg}deg));
}

// ---------------------------------------------
// @font-face
// ---------------------------------------------

@mixin font-face($font-name, $font-file) {
	@font-face {
	    font-family: '#{$font-name}';
	    src: url('#{$font-dir}#{$font-file}.eot');
	    src: url('#{$font-dir}#{$font-file}.eot?#iefix') format('embedded-opentype'),
	         url('#{$font-dir}#{$font-file}.woff') format('woff'),
	         url('#{$font-dir}#{$font-file}.ttf') format('truetype'),
	         url('#{$font-dir}#{$font-file}.svg##{$font-name}') format('svg');
	    font-weight: normal;
	    font-style: normal;	       
	}
}

// ---------------------------------------------
// Vendor prefixes
// var $vendor-prefixes is listed in _config.scss
// ---------------------------------------------

@mixin prefix-selector($property, $value) { 
	@each $prefix in $vendor-prefixes {
		#{$prefix}#{$property}: #{$value};
	}
}

@mixin prefix-value($property, $value) {
	@each $prefix in $vendor-prefixes {
		#{$property}: #{$prefix}#{$value};
	}
}

// ---------------------------------------------
// Clearing method without using overflow:hidden;
// ---------------------------------------------

@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
    }

	&:after {
		clear: both;
	}

	// Win/IE 8 and lower
	.lte8 & {
		zoom: 1;
	}
}

// ---------------------------------------------
// Setting :hover :active :focus
// ---------------------------------------------

@mixin hoverActiveFocus($property, $value) {
	&:hover, &:active, &:focus {
		#{$property}: $value;
	}
}

// ---------------------------------------------
// Background adaptive images (Modernizr)
// ---------------------------------------------

@mixin background-adaptive($file) {
	.no-svg & {
		background-image: url($file + '.png');
		background-repeat: no-repeat;
	}
	.svg & {
      	background-image: url($file + '.svg');
      	background-repeat: no-repeat;
  	}

  	// Target higher density screens
  	// By using a ratio of 1.5 instead of 2, 
  	// you can target other non-Apple devices with the same query.
  	@media (-webkit-min-device-pixel-ratio: 1.5), 
  		   (-moz-min-device-pixel-ratio: 1.5), 
  		   (-o-min-device-pixel-ratio: 3/2),
  		   (min-device-pixel-ratio: 1.5) {

	  	.no-svg & {
			background-image: url($file + '@2x.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		.svg & {
	      	background-image: url($file + '.svg');
	      	background-repeat: no-repeat;
	  	}
  	}
}

// ---------------------------------------------
// Respond to imaginary device category name with MediaQuery
// var $mq-breakpoint-## is listed in _config.scss
// ---------------------------------------------

@mixin respond-to($device-type) {
	@if $device-type == device-smartphone {
		@media (max-width: $mq-breakpoint-01) { @content; }
	} 
	@else if $device-type == device-tablet {
		@media (min-width: $mq-breakpoint-01) and (max-width: $mq-breakpoint-03) { @content; }
	} 
	@else if $device-type == device-desktop {
		@media (min-width: $mq-breakpoint-03) and (max-width: $mq-breakpoint-04) { @content; }
	} 
	@else if $device-type == device-wide {
		@media (min-width: $mq-breakpoint-04) { @content; }
	}
	@else if $device-type == device-high-pixel-ratio {
		@media (-webkit-min-device-pixel-ratio: 1.5), 
			(-moz-min-device-pixel-ratio: 1.5), 
			(-o-min-device-pixel-ratio: 3/2),
			(min-device-pixel-ratio: 1.5) {
				@content; 
		}
	}
}