@import '_config.scss';

/* Common
==================================== */

body {
	font-family: $font-custom-body;
	font-size: $font-default-size;
	font-weight:400;
	line-height: $font-default-line-height;
	color: $color-body-text;
	margin: 0;
	padding: 0;
	background-color: #eee;

	@media (min-width: $site-max-width) {
		background: url(../img/cubic-bg.jpg) fixed repeat 0 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-custom-headings;
	line-height: normal;
	font-weight: 700;
	font-style: italic;
	color: $color-heading-text;
}

h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: .5em;
}

h3, h4, h5, h6 {
	color: $color-complementary;
}

h2, h3, h4, h5, h6, p, li, dd {
	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 2em;
	margin-top: 0.5em;
}

h2 {
	font-size: 1.75em;
}

h1 + h2 {
	margin-top: 0;
}

h3 {
	font-size: 1.50em;
}

h4, h5, h6 {
	font-size: 1.25em;
	color: $color-secondary;
}

p, li, dt, dd {
	font-size: 1em;
}

ul, ol {
	padding-left: 1.5em;
}

a {
	color: $color-primary;
}

/* Wrapper
==================================== */

#wrapper {
	background: #fff;
	width: auto;
	margin: 0 auto;
	overflow:hidden;

	@media (min-width: $site-max-width) {
		width: $site-max-width;
	}	
}

/* Color gradients
==================================== */

#header,
#navigation,
#footer {
	@include bg-linear-gradient($color-heading-text, darken($color-heading-text, 20%));
}

/* Header
==================================== */

#header {
	padding: 1em;
	position: relative;
	overflow: hidden;

	h1 {
		margin: 0;
		display: block;
		float: left;

		a {
			color: #fff;
			text-decoration:none;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
		}
	}

	#showMenu {
		display: block;
		float: right;
		position:relative;
		top: .4em;
	}

	@media (min-width: $site-max-width) {
		#showMenu {
			display: none;
		}
	}
}

/* Nav
==================================== */

#navigation {
	overflow:hidden;
	clear: both;
	padding: 1em 1em;

	display:none;

	@media (min-width: $site-max-width) {
		display:block;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			width: 100%;
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
			margin-right: 0.5em;
			border-bottom: 2px dotted lighten($color-heading-text, 40%);
			@include box-sizing;

			&:last-child {
				margin-bottom: 0;

				@media (max-width: $site-max-width) {
					border-bottom: 0;
				}
			}

			a {
				color: #fff;
				font-size: 1.3em;
				text-decoration:none;
			}

			@media (min-width: $site-max-width) {
				float: left;
				width: 48%;
			}
		}
	}
}

/* Main
==================================== */

#main {
	margin-top: 0;
	margin-bottom: 2em;
	padding: 0;
	padding-bottom: 0;
}

.block {
	padding-left: 1em;
	padding-right: 1em;
}

.photoCarousel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position:  relative;
	width: 100%;
	height: 147px;
	overflow: hidden;

	li {
		position: absolute;
		top: 0;
		left: 0;
	}

	img {
		width: 100%;
		min-width: 100%;
	}
}

/* CV list
==================================== */

#cvWebsites {
	list-style:none;
	margin:0;
	padding:0;
	overflow: hidden;


	.site {
		clear:both;
		overflow:hidden;
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px dotted #ccc;

		.thumb {
			@media (min-width: $site-max-width) {
				width: 250px;
				float:left;
			}

			img {
				display: none;
				float: left;
				margin: 0 1em 0 0;
				border: 1px solid #ccc;

				@media (min-width: $site-max-width) {
					display: block;
				}
			}		
		}

		.info {
			@media (min-width: $site-max-width) {
				width: 290px;
				float:right;
				overflow:hidden;
			}

			h3 {
				margin: 0;

				a {
					color: $color-secondary;
					text-decoration:none;
				}
			}

			ul {
				overflow:hidden;

				li {
					margin: 0;
					padding: 0;
					line-height:1.2em;
					font-size:1em;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}		
	}
}

/* Footer
==================================== */

#footer {
	padding: 1em;

	p {
		color: #fff;
		font-size: 0.8em;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	}
}