@import
	"_vars",
	"_mixins";

body {
	margin: 1.2rem 0 0 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $color-01;
	color: #fff;
	font-size: 1rem;

	@include mq-tablet {
		margin-top: 3rem;
		font-size: 1.5rem; // 24/16
	}
}

h1 {
	font-family: 'Bree Serif';
	font-weight: 400;
	color: $color-02;
	font-size: 2.5rem;

	@include mq-tablet {
		font-size: 3.75rem;
	}
}

section {
	max-width: $mq-desktop;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
	margin-top: 10px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	

	@include mq-tablet {
		display: block;
		margin-bottom: 0;
	}
}

a {
	display: block;
	margin-bottom: 1rem;
	overflow: hidden;
	color: #fff;
	background-color: #EF8485;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 20px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	
	&:hover {
		background-color: #d07374;
	}
}