########################################
## Check for mod_rewrite module
########################################

<IfModule mod_rewrite.c> 

	########################################
	## Turn rewrite engine on
	########################################	
	
	RewriteEngine On
	
	########################################
	## Set rewrite base
	########################################
	
	RewriteBase /

	########################################
	## Simple rewrites of main pages
	########################################
	
	RewriteRule ^webdesign(/)?$ webdesign.php [L]
	RewriteRule ^fotografie(/)?$ fotografie.php [L]
	RewriteRule ^aikido(/)?$ aikido.php [L]
	RewriteRule ^curriculum-vitae(/)?$ curriculum-vitae.php [L]

	########################################
	## Simple redirects
	########################################

	Redirect 301 /flickr http://www.flickr.com/photos/dennisburger
	
	Redirect 301 /googleplus https://plus.google.com/110862744325270918078/posts
	Redirect 301 /gplus https://plus.google.com/110862744325270918078/posts
	Redirect 301 /g+ https://plus.google.com/110862744325270918078/posts
</IfModule>	

########################################
# Disallow directory listing, allow SSI
########################################

#Options All -Indexes +Includes

########################################
## Compress these file-types before sending
########################################

<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css)$">
		#SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

########################################
## Check for mod_headers module
########################################

<IfModule mod_headers.c>

	########################################
	## Disable ETags
	########################################

	#Header unset ETag
	FileETag None
</IfModule>

#################################
## Error documents
#################################

ErrorDocument 403 /error/404.php
ErrorDocument 404 /error/404.php
ErrorDocument 500 /error/500.html

#################################
## Add the proper mime-types
#################################

AddType text/x-component .htc
AddType application/x-font-woff .woff
AddType image/svg+xml .svg .svgz